<nav class="nav-bar">
    <div class="site-brandings">
        <a class='link site-name title' href="/"><h1>Blog Post</h1></a>
        <p class="quote">Learn to not quit</p>
    </div>
    <ul class="nav-links" >
        <li class="nav-link"><a class="link" href="/about">About</a></li>
        <li class="nav-link"><a class="link" href="/blogs">Blogs</a></li>
        <li class="nav-link"><a class="link" href="/blogs/create">New Blog</a></li>
        
    </ul>
</nav>