
    <%- include('./Partials/head.ejs') %> 
    <body>
        <h1>
            404!!
        </h1>
        <P>
            Oops!, Page Not Found. <a href="/">Return to Home</a>
        </P>
    </body>
    <%- include('./Partials/footer.ejs') %> 
