<%- include('./Partials/head.ejs') %> <%- include('./Partials/nav.ejs') %>
<body>
  <div class="signUpBody">
    <form id="form">
      <h2>Login</h2>

      <input
        class="inputField"
        type="email"
        id="email"
        name="email"
        placeholder="Email Address"
      />

      <input
        class="inputField"
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
      <p>
        New member ? <a href="/auth/signup"><b>Sign Up</b></a>
      </p>
      <input class="button submitBtn" type="submit" value="Login" />
    </form>
  </div>
</body>
<%- include('./Partials/footer.ejs') %>
