<header>
  <div class="title">
    <h1>Chocolaty</h1>
    <p>Love chocolate</p>
  </div>

  <div class="actions">
    <button class="button">Login</button>
    <button class="button">signup</button>
  </div>
</header>
