<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <main>
        <div class="content blog-create">
            <form action="/blogs" method="POST">
                <label for="title">Blog Title:</label>
                <input id="title" type="text" name="title" required>
                <label for="snippet">Blog Snippet:</label>
                <input id="snippet" type="text" name="snippet" required>
                <label for="body">Blog Body:</label>
                <textarea id="body" required name="body"></textarea>
                <button id="submit">Submit</button>
            </form>
        </div>
    </main>
    
</body>

<%- include('./partials/footer.ejs') %> 
</html>